@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
h1{
    font-family: 'Nabla', cursive;
}

body{
    background-color: rgb(247, 247, 247);
}

.box{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.text1 textarea{
    resize: none;
    height: 490px ;
    width: 96%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}


